# Data files (Too large for GitHub)
/train.csv
/test.csv
/transactions.csv
/oil.csv
/holidays_events.csv
/stores.csv
/sample_submission.csv

# Large Model Checkpoints
*.pt
*.h5

# Local config & artifacts
/_bmad
/_bmad-output
/.claude
/.git
/docs

# Visuals & Temporary outputs (Optional to exclude)
*.png
*.html
*.pdf

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
env/
